.email {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.section_hero h5 {
  margin-bottom: 1.5rem;
}

.form {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input,
textarea {
  height: 3rem;
  width: 15rem;
  padding-left: 1rem;
  border-radius: 5px;
  border: 0 solid transparent;
  font-family: "Montserrat", sans-serif;
}

.form-bottom button {
  cursor: pointer;
}

.form-bottom button:hover {
  cursor: pointer;
}

textarea {
  padding-top: 1rem;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--black);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--black);
}

::placeholder {
  color: var(--black);
}

#comments {
  width: 40rem;
  height: 10rem;
}

.form-top {
  display: flex;
  gap: 10rem;

  margin-bottom: 1.5rem;
}

.section_box {
  min-height: 0;
  /* width: auto; */
}

/* .section_hero {
  margin-bottom: 15rem;
} */

.form-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}
.section_hero a {
  text-decoration: underline;
}

.form-bottom button {
  background-color: #643072;
  width: 10rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 890px) {
  .temple {
    width: 16.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .section_hero {
    margin-bottom: 10rem;
  }

  .form-top {
    gap: 2rem;
  }

  #comments {
    width: 32rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 615px) {
  .form-top {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-left {
    width: 100%;
  }

  .form-right {
    width: 100%;
  }

  .form input {
    width: 100%;
  }

  #comments {
    width: 100%;
    height: 10rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    margin-top: 0;
  }
  .form-bottom button {
    margin: 0 auto;
  }

  .section_box {
    width: 100%;
  }

  .form {
    padding-bottom: 0;
  }
}
